/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    position: relative;

    .error-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        @include media-breakpoint-down(lg) {
            top: 50%;

            @include translateY(-50%);
        }
    }
}