
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
.contact-info {
	@include media-breakpoint-up(lg) {
		position: absolute;
		bottom: 3rem;
		left: 20%;
		width: 60%;
		margin: auto;
		padding: 2rem;
		background-color: $white;
	}

	@include media-breakpoint-down(xxl) {
		width: 90%;
	}
}