
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	border-bottom: 1px solid #dddddd;
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #banner {
			top: -$header-height;
			margin-bottom: -$header-height;
		}
	}
}

#header-wrap {
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
.navbar-brand {
	margin-right: 10.125rem;

	img {
		max-width: 5.0625rem;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		text-transform: uppercase;
	}
}


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {
	ul {
		height: 4rem;
	}

	.nav-link {
		font-size: $h6-font-size;
		line-height: 1;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}