
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	margin-bottom: 2.5rem; 
	position: relative;
		
	.title {
		font-weight: 400;
		line-height: 1.15;
	}
}

.breadcrumb {
	li {
		a {
			font-weight: 500;
			font-size: 0.8125rem;
			color: #969696;
			font-family: $heading-font;

			&.active {
				color: $theme-color;
			}
		}

		&:first-child {
			&:after {
				content: "";
				position: relative;
				display: inline-block;
				width: 2rem;
				height: 2px;
				vertical-align: middle;
				background-color: #e5e5e5;
				margin: 0 1rem;
			}
		}
	}
}