
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/
.fbox {
	margin-bottom: 1.875rem;

	.fbox-icon {
		margin-bottom: 0.75rem;

		img {
			max-width: 5rem;
			height: 3rem;
			display: flex;
			justify-content: center;
		}
	}
}