
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	padding: 0 3rem;

	.icon-header {
		p {
			font-family: $heading-font;
			font-size: 0.875rem;
			color: $dark;
		}

		span {
			font-family: $heading-font;
			font-size: 1.5rem;
		}
	}

	&:not(:last-child) {
		border-right: 1px solid #e5e5e5;

		@include media-breakpoint-down(lg) {
			border: none;
		}
	}
}